/*
* Main Style file
*
*/

a.logo img {
    height: 175px;
}

.navbar-header {
    position: absolute;
    z-index: 99;
}

.navbar-default {
    margin-bottom: 0;
}

.top-slider .flexslider {
    border: none;
}

.dropdown-menu a,
.dropdown-menu {
    width: 200px;
    text-align: left;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a {
    background-color: #fff;
    width: 150px;
}

.primary-center ul.menu {
    text-transform: uppercase;
    font-size: 16px;
    left: 22%;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 58px;
}
.primary-center ul.menu a {
    color: #000;
}

.primary-center ul.menu .active a {
    color: #000;
    font-weight: bold;
}

.primary-center ul.menu li {
    width: 150px;
    text-align: center;
    left: 17%;
}
.dropdown-menu a:hover,
.primary-center ul.menu a:hover {
    font-weight: bold;
}

.social-links {
    padding-top: 5px;
}

.social-link img {
    height: 40px;
    margin: 0 5px 0;
}

.social-link img:hover {
    opacity: 0.7;
}

.navbar-inverse {
    /* IE10+ */
    background-image: -ms-linear-gradient(left, #87CEC4 10%, #ccc 90%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #87CEC4 10%, #ccc 90%);

    /* Opera */
    background-image: -o-linear-gradient(left, #87CEC4 10%, #ccc 90%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(10, #87CEC4), color-stop(90, #ccc));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #87CEC4 10%, #ccc 90%);

    /* W3C Markup */
    background-image: linear-gradient(to right, #87CEC4 10%, #ccc 90%);
}

.play-button {
    height: 120px;
    width: 120px;
    background-image: url(/sites/default/files/default_images/playbutton.png);
    display: inline;
    float: left;
    position: relative;
    background-size: cover;
    background-position: center;
    text-indent: -9999px;
    margin-top: -20%;
    margin-left: 18%;
}

.field-name-field-fancy-video img {
    background: beige;
}

.play-button:hover {
    opacity: 0.8;
}

.page-title {
    margin-left: 15px;
}

/**
    Fonts related stuff
**/

h1, h2, h3, h4, h5, h5 {
    font-family: "Poiret One", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace
}

/* cyrillic */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/cKr_e199f0xMkxMkRbEJXwsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/3Annd_XP-99FcGbOpm6fVAsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}