/*
* Main Style file
*
*/

a.logo img {
    height: 175px;
}

.navbar-header {
    position: absolute;
    z-index: 99;
}

.navbar-default {
    margin-bottom: 0;
}

.top-slider .flexslider {
    border: none;
}

.dropdown-menu a,
.dropdown-menu {
    width: 200px;
    text-align: left;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a {
    background-color: #fff;
    width: 150px;
}

.primary-center ul.menu {
    text-transform: uppercase;
    font-size: 16px;
    left: 22%;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 58px;
}
.primary-center ul.menu a {
    color: #000;
}

.primary-center ul.menu .active a {
    color: #000;
    font-weight: bold;
}

.primary-center ul.menu li {
    width: 150px;
    text-align: center;
    left: 17%;
}
.dropdown-menu a:hover,
.primary-center ul.menu a:hover {
    font-weight: bold;
}

.social-links {
    padding-top: 5px;
}

.social-link img {
    height: 40px;
    margin: 0 5px 0;
}

.social-link img:hover {
    opacity: 0.7;
}

.navbar-inverse {
    /* IE10+ */
    background-image: -ms-linear-gradient(left, #87CEC4 10%, #ccc 90%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #87CEC4 10%, #ccc 90%);

    /* Opera */
    background-image: -o-linear-gradient(left, #87CEC4 10%, #ccc 90%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(10, #87CEC4), color-stop(90, #ccc));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #87CEC4 10%, #ccc 90%);

    /* W3C Markup */
    background-image: linear-gradient(to right, #87CEC4 10%, #ccc 90%);
}

.play-button {
    height: 120px;
    width: 120px;
    background-image: url(/sites/default/files/default_images/playbutton.png);
    display: inline;
    float: left;
    position: relative;
    background-size: cover;
    background-position: center;
    text-indent: -9999px;
    margin-top: -20%;
    margin-left: 18%;
}

.field-name-field-fancy-video img {
    background: beige;
}

.play-button:hover {
    opacity: 0.8;
}

.page-title {
    margin-left: 15px;
    text-align: center;
    margin-bottom: 40px;
}

/**
    Fonts related stuff
**/

h1, h2, h3, h4, h5, h5 {
    font-family: "Poiret One", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace
}

h2, h3, h4 {
    padding: 5px 5px 15px;
}

.panel-display h2 {
    margin-top: 0;
}

.hovered-line {
    background: url("../imgs/la_rayita.png") no-repeat;
    background-position-y: 28px;
}

/* cyrillic */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/cKr_e199f0xMkxMkRbEJXwsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/3Annd_XP-99FcGbOpm6fVAsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/** profiles **/

.group-team-profile img {
    border-radius: 50%;
    width: 100px;
    float: left;
    margin-right: 20px;
}

.group-team-profile {
    margin: 0 0 58px;
}

.modal-header h4.modal-title,
.group-team-profile h4 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 0;
}
.modal-header h4.modal-title {
    padding: 0;
}
.profile-image-popup img {
    margin: 5px auto 25px;
}
.profile-modal .text {
    padding: 0 20px 20px;
}
.pop-profile {
    cursor: pointer;
}

.show-on-pop {
    display: none;
}

.group-team-profile .field-name-field-role-description {
    padding: 5px;
}

/** Zoom on hover **/

.group-zoom-on-hover {
    padding: 10px;
    position: relative;
    margin: 20px 0 30px;
    height: 250px;
    overflow: hidden;
}

.group-zoom-on-hover .field-name-field-zooming-image {
    position: absolute;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}
.group-zoom-on-hover .field-name-field-zooming-image img {
    height: 250px;
}
.group-zoom-on-hover .field-name-field-link {
    position: relative;
    text-align: center;
    display: inline;
}

.group-zoom-on-hover .field-name-field-link a {
    font-family: "Poiret One", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    padding: 5px;
}

.group-zoom-on-hover .field-name-field-link a:hover {
    text-decoration: none;
    background-color: #CCC;
    color: #000;
    opacity: 0.8;
}

.group-zoom-on-hover .field-name-field-link .field-items {
    top: 50%;
    transform: translateY(180%);
}

.enlarge-transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}